# Supabase Database Configuration
SUPABASE_DB_URL=jdbc:postgresql://aws-1-ap-south-1.pooler.supabase.com:5432/postgres
SUPABASE_DB_USERNAME=postgres.wvodzeuwfbbqszztwjgx
SUPABASE_DB_PASSWORD=your_supabase_db_password

# Identity Provider Configuration
MOCKIDP_URL=http://localhost:8080

# Supabase S3 Storage Configuration
SUPABASE_S3_ENDPOINT=https://wvodzeuwfbbqszztwjgx.supabase.co/storage/v1/s3
SUPABASE_S3_ACCESS_KEY=your_access_key
SUPABASE_S3_SECRET_KEY=your_secret_key
SUPABASE_S3_REGION=ap-south-1
