# Supabase Database Configuration
SUPABASE_DB_URL=jdbc:postgresql://aws-1-ap-south-1.pooler.supabase.com:5432/postgres
SUPABASE_DB_USERNAME=postgres.wvodzeuwfbbqszztwjgx
SUPABASE_DB_PASSWORD=your_supabase_db_password

# Identity Provider Configuration
MOCKIDP_URL=http://localhost:8080
