# Server Configuration
SERVER_PORT=8080

# LDAP Server Configuration
MOCKIDP_LDAP_BASE_DN=dc=msil,dc=co,dc=in
MOCKIDP_LDAP_PORT=8389
MOCKIDP_LDAP_LDIF=file:setup.ldif
MOCKIDP_LDAP_MANAGER_DN=cn=Directory Manager
MOCKIDP_LDAP_MANAGER_PASSWORD=password

# Rate Limit Configuration
MOCKIDP_RATE_LIMIT_ENABLED=true
MOCKIDP_RATE_LIMIT_MAX_REQUESTS=5
MOCKIDP_RATE_LIMIT_DURATION_SECONDS=60

# JWT Configuration
MOCKIDP_JWT_EXPIRY_SECONDS=3600
