dn: dc=msil,dc=co,dc=in
objectClass: top
objectClass: domain
dc: msil

dn: ou=People,dc=msil,dc=co,dc=in
objectClass: organizationalUnit
ou: People

dn: uid=dev,ou=People,dc=msil,dc=co,dc=in
objectClass: inetOrgPerson
cn: Dev
sn: Kumar
uid: dev
mail: dev@msil.co.in
userPassword: $2a$10$THnuSFZeN57u0cCVoMhzJ.zz4tNvKyWVi12AL8gk0DT90JZri3Epe
employeeNumber: 1001

dn: uid=john,ou=People,dc=msil,dc=co,dc=in
objectClass: inetOrgPerson
cn: John
sn: Smith
uid: john
mail: john@msil.co.in
userPassword: $2a$10$BEsgnZRUghc8czu7l7HQQOmXVUe33v/ElrCWq7e19vi7XPVM8ubOy
employeeNumber: 1002

dn: uid=rakesh,ou=People,dc=msil,dc=co,dc=in
objectClass: inetOrgPerson
cn: Rakesh Pandey
sn: Pandey
uid: rakesh
mail: rakesh@msil.co.in
userPassword: $2a$10$THnuSFZeN57u0cCVoMhzJ.zz4tNvKyWVi12AL8gk0DT90JZri3Epe
employeeNumber: 1003

dn: uid=satyam,ou=People,dc=msil,dc=co,dc=in
objectClass: inetOrgPerson
cn: Satyam Tiwari
sn: Tiwari
uid: satyam
mail: satyam@msil.co.in
userPassword: $2a$10$THnuSFZeN57u0cCVoMhzJ.zz4tNvKyWVi12AL8gk0DT90JZri3Epe
employeeNumber: 1004

dn: uid=soumya,ou=People,dc=msil,dc=co,dc=in
objectClass: inetOrgPerson
cn: Soumya Bharadwaj
sn: Bharadwaj
uid: soumya
mail: soumya@msil.co.in
userPassword: $2a$10$THnuSFZeN57u0cCVoMhzJ.zz4tNvKyWVi12AL8gk0DT90JZri3Epe
employeeNumber: 1005

dn: uid=asish,ou=People,dc=msil,dc=co,dc=in
objectClass: inetOrgPerson
cn: Asish Yadav
sn: Yadav
uid: asish
mail: asish@msil.co.in
userPassword: $2a$10$THnuSFZeN57u0cCVoMhzJ.zz4tNvKyWVi12AL8gk0DT90JZri3Epe
employeeNumber: 1006

dn: ou=Groups,dc=msil,dc=co,dc=in
objectClass: organizationalUnit
ou: Groups

dn: cn=DE_CGV4,ou=Groups,dc=msil,dc=co,dc=in
objectClass: groupOfNames
cn: DE_CGV4
member: uid=dev,ou=People,dc=msil,dc=co,dc=in
member: uid=rakesh,ou=People,dc=msil,dc=co,dc=in
member: uid=satyam,ou=People,dc=msil,dc=co,dc=in
member: uid=soumya,ou=People,dc=msil,dc=co,dc=in
member: uid=asish,ou=People,dc=msil,dc=co,dc=in

dn: cn=Employees,ou=Groups,dc=msil,dc=co,dc=in
objectClass: groupOfNames
cn: Employees
member: uid=dev,ou=People,dc=msil,dc=co,dc=in
member: uid=john,ou=People,dc=msil,dc=co,dc=in
member: uid=rakesh,ou=People,dc=msil,dc=co,dc=in
member: uid=satyam,ou=People,dc=msil,dc=co,dc=in
member: uid=soumya,ou=People,dc=msil,dc=co,dc=in
member: uid=asish,ou=People,dc=msil,dc=co,dc=in

dn: cn=DE_CGV4_ADMIN,ou=Groups,dc=msil,dc=co,dc=in
objectClass: groupOfNames
cn: DE_CGV4_ADMIN
member: uid=rakesh,ou=People,dc=msil,dc=co,dc=in

dn: cn=DE_CGV4_MANAGER,ou=Groups,dc=msil,dc=co,dc=in
objectClass: groupOfNames
cn: DE_CGV4_MANAGER
member: uid=rakesh,ou=People,dc=msil,dc=co,dc=in
